{% extends "layout_fluid.html" %}
{% load i18n %}
{% load l10n %}

{% block content %}
<a name='tasks_top'></a>

{% include "main/_tasks_pager.html" %}

  <table class="table">
    <tbody>
      {% for item in objects %}
        <tr class="{% cycle 'odd' 'even' %}{% ifnotequal item.exitcode 0 %} exiterror{% endifnotequal %}">
          <td>
            {% blockquote with uuid=item.taskuuid %}
              <span>Task UUID:</span> {{ uuid }}
            {% endblockquote %}
            <br />

            {% blockquote with uuid=item.fileuuid %}
              <span>File UUID:</span> {{ uuid }}
            {% endblockquote %}
            <br />

            {% blockquote with filename=item.filename %}
              <span>File name:</span> {{ filename }}
            {% endblockquote %}
            <br />

            {% blockquote with client=item.client %}
              <span>Client:</span> {{ client }}
            {% endblockquote %}
            <br />

            <span>&nbsp;</span> {{ item.exec_field }} (exit code: {{ item.exitcode }})
          </td>
          <td>
            {% blockquote with datetime=item.starttime.isoformat %}
              <span>Start time:</span> <span class="datetime">{{ datetime }}</span>
            {% endblockquote %}
            <br />

            {% blockquote with datetime=item.endtime.isoformat %}
              <span>End time:</span> <span class="datetime">{{ datetime }}</span>
            {% endblockquote %}
            <br />

            {% blockquote with datetime=item.createdtime.isoformat %}
              <span>Created time:</span> <span class="datetime">{{ datetime }}</span>
            {% endblockquote %}
            <br />

            {% blockquote with duration=item.duration %}
              <span>Duration:</span> {{ duration }} seconds(s)
            {% endblockquote %}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {% blockquote with execution=item.execution arguments=item.arguments %}
              Command: {{ execution }} {{ arguments }}
            {% endblockquote %}
          </td>
        </tr>
        {% if item.stdout %}
          <tr>
            <td colspan="2" class="stdout shell-output">
              <p>STDOUT</p>
              <pre>{{ item.stdout }}</pre>
            </td>
          </tr>
        {% endif %}
        {% if item.stderror %}
          <tr>
            <td colspan="2" class="stderror shell-output">
              <p>STDERR</p>
              <pre>{{ item.stderror }}</pre>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

{% include "main/_tasks_pager.html" %}


  <script>
  $(document).ready(function() {
    localizeTimestampElements();
  });
  </script>

{% endblock %}
